<div
  class="flex h-full w-full items-center justify-between gap-1 overflow-hidden rounded-md border border-slate-300 bg-white">
  <button
    class="cursor-pointer bg-white px-3 py-2 transition-colors duration-300 hover:bg-slate-50 active:bg-slate-100"
    (click)="decrement()">
    -
  </button>
  <div class="flex w-4 items-center justify-center">
    <span class="text-sm font-medium text-slate-700">{{ quantity }}</span>
  </div>
  <button
    class="cursor-pointer bg-white px-3 py-2 transition-colors duration-300 hover:bg-slate-50 active:bg-slate-100"
    (click)="increment()">
    +
  </button>
</div>
