<div
  class="fade-in absolute top-0 right-0 bottom-0 left-0 z-40 flex min-h-screen w-screen items-stretch justify-end overflow-hidden bg-black/20">
  <button
    class="transparent md:5/12 h-full w-1/12 cursor-default lg:w-full"
    (click)="onCloseMenu()"></button>

  <!-- Cart Drawer -->
  <div
    id="cart-drawer"
    class="slide-left relative z-50 flex h-screen w-11/12 flex-col border-l border-slate-100 bg-white shadow-2xl md:w-7/12 lg:w-full lg:max-w-[480px]">
    <!-- Header -->
    <div class="flex w-full items-center justify-between p-4">
      <div class="flex items-center gap-2">
        <h6 class="font-serif text-xl font-medium text-blue-900">
          My Shopping Cart
        </h6>
        <div
          class="flex h-6 w-6 items-center justify-center rounded-full bg-blue-50">
          <span class="text-sm font-semibold text-blue-700">{{
            cart.cart().length
          }}</span>
        </div>
      </div>

      <button
        class="flex h-8 w-8 cursor-pointer items-center justify-center"
        (click)="onCloseMenu()">
        <app-custom-icon
          name="x"
          size="32"
          class="text-slate-700 transition-colors duration-300 hover:text-slate-600 active:text-slate-800"></app-custom-icon>
      </button>
    </div>

    <!-- Cart Items -->
    <div class="flex h-full w-full flex-col gap-2 p-4">
      @for (item of cart.cart(); track item.id) {
        <app-cart-item [item]="item"></app-cart-item>
      }
    </div>

    <!-- Cart Bottom -->
    <div
      class="flex flex-col items-center justify-center gap-2 border-t border-slate-100 p-4">
      <!-- Checkout Button -->
      <button
        class="btn flex w-full items-center justify-center gap-2 px-4 py-[10px] shadow-xl">
        <app-custom-icon name="checkout" size="20"></app-custom-icon>
        <span class="text-sm font-medium">Go to Checkout</span>
      </button>

      <!-- Afterpay -->
      <div class="flex items-center gap-1">
        <span class="text-xs text-slate-500">
          Or pay in four interest-free payments with
        </span>
        <img
          src="images/afterpay-logo.webp"
          alt="Visa"
          class="h-3 w-auto object-cover" />
        <app-custom-icon
          name="information"
          size="16"
          class="text-slate-500"></app-custom-icon>
      </div>
    </div>
  </div>
</div>
