<form
  class="mx-auto flex w-full max-w-screen-sm flex-col gap-2"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()">
  <!-- Email -->
  <div class="input-wrapper w-full">
    <label for="email">Email</label>
    <div class="relative">
      <input
        type="email"
        id="email"
        name="email"
        class="input"
        formControlName="email"
        placeholder="Email Address"
        [ngClass]="{ 'input-error': submitted && email.invalid }" />
      <div
        class="absolute bottom-0 right-2 top-0 z-10 flex items-center text-slate-400">
        <app-custom-icon name="envelope" size="20"></app-custom-icon>
      </div>
    </div>
  </div>
  <!-- Password-->
  <div class="input-wrapper w-full">
    <label for="password">Password</label>
    <div class="relative">
      <input
        type="password"
        id="password"
        name="password"
        class="input"
        formControlName="password"
        placeholder="Password"
        [ngClass]="{ 'input-error': submitted && password.invalid }" />
      <div
        class="absolute bottom-0 right-2 top-0 z-10 flex items-center text-slate-400">
        <app-custom-icon name="eyeClosed" size="20"></app-custom-icon>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <button
    class="btn my-2 shadow-xl"
    [disabled]="submitted && loginForm.invalid">
    <span>Log In</span>
  </button>
</form>
