<form
  class="mx-auto flex w-full max-w-screen-sm flex-col gap-2"
  [formGroup]="createAccountForm"
  (ngSubmit)="onSubmit()">
  <!-- First Name and Last Name -->
  <div class="flex w-full flex-col justify-between gap-2 md:flex-row md:gap-4">
    <!-- First Name -->
    <div class="input-wrapper w-full">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="input"
        formControlName="firstName"
        placeholder="First Name"
        [ngClass]="{ 'input-error': submitted && firstName?.invalid }" />
    </div>

    <!-- Last Name -->
    <div class="input-wrapper w-full">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="input"
        formControlName="lastName"
        placeholder="Last Name"
        [ngClass]="{ 'input-error': submitted && lastName?.invalid }" />
    </div>
  </div>

  <!-- Email -->
  <div class="input-wrapper w-full">
    <label for="email">Email</label>
    <div class="relative">
      <input
        type="email"
        id="email"
        name="email"
        class="input"
        formControlName="email"
        placeholder="Email Address"
        [ngClass]="{ 'input-error': submitted && email?.invalid }" />
      <div
        class="absolute bottom-0 right-2 top-0 z-10 flex items-center text-slate-400">
        <app-custom-icon name="envelope" size="20"></app-custom-icon>
      </div>
    </div>
  </div>

  <!-- Password-->
  <div class="input-wrapper w-full">
    <label for="password">Password</label>
    <div class="relative">
      <input
        type="password"
        id="password"
        name="password"
        class="input"
        formControlName="password"
        placeholder="Password"
        [ngClass]="{ 'input-error': submitted && password?.invalid }" />
      <div
        class="absolute bottom-0 right-2 top-0 z-10 flex items-center text-slate-400">
        <app-custom-icon name="eyeClosed" size="20"></app-custom-icon>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <button
    class="btn my-2 shadow-xl"
    [disabled]="submitted && createAccountForm.invalid">
    <span>Create Account</span>
  </button>
</form>
