<div class="flex h-[560px] w-full flex-col gap-4 md:flex-row">
  <!-- Thumbnails -->
  <div class="order-2 flex w-32 flex-col gap-1 md:order-1">
    <button
      class="h-20 w-full overflow-hidden rounded-md opacity-50 transition-opacity duration-300 hover:opacity-80 active:opacity-100">
      <img
        src="https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt=""
        class="h-full w-full object-cover" />
    </button>
  </div>
  <!-- Main Image -->
  <div class="order-1 w-full overflow-hidden rounded-lg md:order-2">
    <img
      src="https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
      alt=""
      class="h-full w-full object-cover" />
  </div>
</div>
