<footer class="bg-blue-900">
  <div id="top-footer" class="pt-12 pb-6">
    <div class="container">
      <div class="grid grid-cols-4 grid-rows-1 gap-4">
        <div class="flex flex-col justify-start items-start gap-3">
          <h3 class="text-white text-sm font-bold">Customer Service</h3>
          <ul class="space-y-2">
            <li class="footer-link-item">Contact Us</li>
            <li class="footer-link-item">Shipping Information</li>
            <li class="footer-link-item">Returns & Exchanges</li>
            <li class="footer-link-item">FAQ</li>
            <li class="footer-link-item">Track Your Order</li>
            <li class="footer-link-item">Start an Online Return</li>
            <li class="footer-link-item">Gift Cards</li>
          </ul>
        </div>
        <div class="flex flex-col justify-start items-start gap-3">
          <h3 class="text-white text-sm font-bold">My Account</h3>
          <ul class="space-y-2">
            <li class="footer-link-item">Profile</li>
            <li class="footer-link-item">Luxe Loyalty Rewards</li>
          </ul>
        </div>
        <div class="flex flex-col justify-start items-start gap-3">
          <h3 class="text-white text-sm font-bold">Beverly Hills MD</h3>
          <ul class="space-y-2">
            <li class="footer-link-item">Our Company</li>
            <li class="footer-link-item">Retail Locator</li>
            <li class="footer-link-item">Vendor Submissions</li>
            <li class="footer-link-item">Our Blog</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="sub-footer" class="py-6 border-t border-t-slate-400">
    <div class="container">
      <div class="flex flex-col justify-center items-center gap-4">
        <ul class="text-xs text-slate-300 space-x-4 flex justify-center items-center w-full">
          <li class="sub-footer-link-item">Privacy Notice</li>
          <li class="sub-footer-link-item">Cookie Preferences</li>
          <li class="sub-footer-link-item">Terms & Conditions</li>
          <li class="sub-footer-link-item">Do Not Sell or Share My Personal Information</li>
          <li class="sub-footer-link-item">CA Privacy Rights</li>
          <li class="sub-footer-link-item">Interest-Based Ads</li>
          <li class="sub-footer-link-item">Accessibility</li>
          <li class="sub-footer-link-item">Affiliate Programs</li>
          <li class="sub-footer-link-item">Product Recalls</li>
        </ul>
        <p class="text-center text-xs text-slate-300">
          &copy; {{ year }} Beverly Hills MD. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
