<header class="w-screen bg-white flex flex-col justify-center items-stretch">
  <div id="top-header " class="w-full flex justify-center items-center py-3 bg-white">
    <div class="container">
      <div class="flex justify-between items-center">
        <img src="/images/bhmd-logo-full.webp" class="w-auto h-8 object-contain" />
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search..."
          class="px-4 py-2 w-2xl"
        />
        <div
          class="w-12 h-12 flex justify-center items-center hover:bg-slate-50 transition-colors duration-300 rounded-lg"
        >
          Cart
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-header" class="w-full flex justify-center items-center py-2 bg-blue-50">
    <div class="container">
      <ul class="flex gap-4">
        <li class="nav-link-item">Best Sellers</li>
        <li class="nav-link-item">Bundles</li>
        <li class="nav-link-item">Supplements</li>
        <li class="nav-link-item">About</li>
        <li class="nav-link-item">Contact</li>
      </ul>
    </div>
  </div>
</header>
