<div class="flex w-full flex-col items-stretch gap-2">
  <div class="mb-2 flex items-center gap-4">
    <span class="shrink-0 font-serif text-slate-700 italic"
      >Make a selection below:</span
    >
    <div class="h-[1px] w-full bg-slate-200"></div>
  </div>
  @for (offer of offers; track offer.type) {
    <app-offer-selector-item
      [label]="offer.label"
      [price]="offer.price()"
      [isSelected]="selectedOffer === offer.type"
      (select)="selectedOffer = offer.type"
      [description]="offer.description"></app-offer-selector-item>
  }
  <div class="mt-2 flex w-full items-stretch gap-4">
    <app-quantity-selector [(quantity)]="quantity"></app-quantity-selector>
    <button
      (click)="addToCart()"
      class="btn flex h-full items-center justify-center gap-1 px-4 py-3 shadow-xl">
      <span class="text-sm font-semibold text-white">Add to Cart |</span>
      <span class="text-sm font-semibold text-white">
        {{
          selectedOffer === "subscribe"
            ? (price * quantity * 0.9 | currency)
            : (price * quantity | currency)
        }}
      </span>
    </button>
  </div>
</div>
