@if (cartDrawerService.isOpen()) {
  <div id="cart-drawer-overlay" class="overlay flex justify-end items-stretch fade-in">
    <button
      class="w-full h-full bg-transparent cursor-default shrink"
      (click)="cartDrawerService.closeCartDrawer()"
    ></button>
    <aside
      id="cart-drawer"
      class="bg-white border-l border-l-slate-300 w-5/6 max-w-md p-6 shadow-lg slide-left grow shrink-0"
    >
      <h2 class="text-2xl font-bold mb-4">Your Cart</h2>
      <p>Your cart is currently empty.</p>
    </aside>
  </div>
}
