<div class="grid min-h-screen w-full grid-cols-2 grid-rows-1">
  <section
    class="col-span-1 flex h-full w-full flex-col items-center justify-between p-4">
    <!-- Header -->
    <header class="flex w-full items-center justify-center p-2">
      <a href="/"
        ><img src="/images/bhmd-logo.webp" alt="Logo" class="h-8 w-auto"
      /></a>
    </header>

    <!-- Form -->
    <div
      class="flex h-full w-full max-w-md flex-col items-stretch justify-center">
      <div class="mx-auto mb-4 w-full">
        <h1 class="text-center font-serif text-3xl font-medium text-blue-900">
          Create Account
        </h1>
        <p class="text-center text-slate-600">
          Create a free Luxe Loyalty account to gain access to exclusive
          discounts and start earning rewards toward future purchases.
        </p>
      </div>
      <app-create-account-form></app-create-account-form>
      <div class="flex flex-col gap-4">
        <p class="text-center text-xs text-slate-500">
          Already have an account?
          <a routerLink="/login" class="text-link">Sign in</a>
        </p>
        <div
          class="w-full rounded-sm border border-blue-600 bg-blue-50 p-2 text-center text-xs text-blue-600">
          <p>
            By clicking Create Account, you agree to our
            <a href="/legal/terms-of-use" class="text-link">Terms of Use</a> and
            <a href="/legal/privacy-policy" class="text-link">Privacy Policy</a
            >.
          </p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="flex w-full items-center justify-between p-2">
      <p class="text-xs text-slate-500">
        Copyright ©2025 Beverly Hills MD® Cosmeceuticals
      </p>
      <div class="flex items-center justify-end gap-1">
        <a
          href="/legal/privacy-policy"
          class="text-xs text-slate-500 transition-colors duration-300 hover:text-slate-400 active:text-slate-600"
          >Privacy Policy</a
        >
        <span class="mx-1">|</span>
        <a
          href="/legal/terms-of-use"
          class="text-xs text-slate-500 transition-colors duration-300 hover:text-slate-400 active:text-slate-600"
          >Terms of Use</a
        >
      </div>
    </footer>
  </section>
  <section class="col-span-1 w-full bg-slate-100"></section>
</div>
