@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen w-full overflow-x-hidden;
}

.container {
  @apply mx-auto max-w-screen-2xl px-4 md:px-6 lg:px-8 xl:px-10 2xl:px-12;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  @apply w-full rounded-md border-[1px] border-slate-300 bg-white px-4 py-2 text-sm text-slate-700 shadow-sm placeholder:text-slate-400 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.input-wrapper {
  @apply flex flex-col gap-1;
}

.input-wrapper label {
  @apply text-xs font-medium text-slate-700;
}

.btn {
  @apply w-full rounded-md bg-blue-600 px-4 py-[10px] text-sm font-medium text-white shadow-md transition-colors duration-300 hover:bg-blue-500 active:bg-blue-700;
}

.nav-link {
  @apply text-sm font-medium text-slate-500 transition-colors duration-300 hover:text-slate-400 active:text-slate-600;
}

.nav-dropdown-link {
  @apply relative inline-flex items-center gap-1 text-sm font-medium text-slate-500 transition-colors duration-300 hover:text-slate-400 active:text-slate-600;
}

.text-link {
  @apply font-semibold text-blue-600 transition-colors duration-300 hover:text-blue-500 active:text-blue-700;
}

.prose a {
  @apply text-blue-600 decoration-rose-200 decoration-dotted underline-offset-4 transition-colors duration-300 hover:text-blue-500 active:text-blue-700;
}

/* Animations */

.fade-in {
  animation: fadeIn 0.1s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.1s ease-in-out;
}

.slide-down {
  animation: slideDown 0.15s ease-in-out;
}

.slide-left {
  animation: slideLeft 0.15s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}
