@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen w-full overflow-x-hidden;
}

.sr-only {
  @apply invisible opacity-0;
}

.container {
  @apply mx-auto max-w-screen-2xl px-4 md:px-6 lg:px-8 xl:px-10 2xl:px-12;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  @apply w-full rounded-md border-[1px] border-slate-300 bg-white px-4 py-2 text-sm text-slate-700 shadow-sm placeholder:text-slate-400 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.input-wrapper {
  @apply flex flex-col gap-1;
}

.input-wrapper label {
  @apply text-xs font-medium text-slate-700;
}

.btn {
  @apply relative flex w-full cursor-pointer items-center gap-1 overflow-hidden rounded-md border border-blue-500 bg-blue-500 text-white opacity-100 transition-opacity duration-300 hover:opacity-85 active:opacity-90;
}

.btn::before {
  content: "";
  box-shadow:
    inset 0 1px 2px 0 rgba(255, 255, 255, 0.1),
    inset 0 6px 12px 0 rgba(255, 255, 255, 0.1);
  @apply absolute bottom-0 left-0 right-0 top-0 z-10 block h-full w-full;
}

.btn span {
  @apply relative z-20 drop-shadow;
}

.nav-link {
  @apply text-sm font-medium text-slate-600 transition-colors duration-300 hover:text-slate-500 active:text-blue-600;
}

.nav-dropdown-link {
  @apply relative inline-flex items-center gap-1 text-sm font-medium transition-colors duration-300;
}

.text-link {
  @apply font-semibold text-blue-600 transition-colors duration-300 hover:text-blue-500 active:text-blue-700;
}

.prose a {
  @apply text-blue-600 decoration-rose-200 decoration-dotted underline-offset-4 transition-colors duration-300 hover:text-blue-500 active:text-blue-700;
}

/* Animations */

.fade-in {
  animation: fadeIn 0.1s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.1s ease-in-out;
}

.slide-down {
  animation: slideDown 0.15s ease-in-out;
}

.slide-left {
  animation: slideLeft 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
