<div
  class="fade-in absolute bottom-0 left-0 right-0 top-[98px] z-10 flex min-h-screen w-screen flex-col items-stretch overflow-hidden bg-black/20">
  <div
    id="shop-menu"
    class="slide-down relative z-40 w-screen bg-white py-8 shadow-2xl">
    <div class="container">
      @defer (when isMenuOpen) {
        <div class="grid grid-cols-4 grid-rows-1 gap-4">
          <div class="col-span-1 flex flex-col gap-2">
            <h6 class="font-serif text-slate-700">Shop By Category</h6>
            <ul class="flex flex-col gap-1">
              @for (
                category of categoriesService.categories();
                track category.id
              ) {
                <li
                  class="text-sm text-slate-600 transition-all duration-300 hover:translate-x-1 hover:text-slate-500 active:text-slate-700">
                  <a [routerLink]="['/products/category', category.slug]">{{
                    category.name
                  }}</a>
                </li>
              }
              <li
                class="mt-2 text-sm font-medium text-blue-700 transition-colors duration-300 hover:text-blue-600 active:text-blue-800">
                <a href="/products">Shop All Products</a>
              </li>
            </ul>
          </div>
          <div class="col-span-1 flex flex-col gap-2">
            <h6 class="font-serif text-slate-700">Shop By Skincare Concern</h6>
            <ul class="flex flex-col gap-1">
              @for (concern of concernsService.concerns(); track concern.id) {
                <li
                  class="text-sm text-slate-600 transition-all duration-300 hover:translate-x-1 hover:text-slate-500 active:text-slate-700">
                  <a [routerLink]="['/products/concern', concern.slug]">{{
                    concern.name
                  }}</a>
                </li>
              }
              <li
                class="mt-2 text-sm font-medium text-blue-700 transition-colors duration-300 hover:text-blue-600 active:text-blue-800">
                <a href="/products">Shop All Products</a>
              </li>
            </ul>
          </div>
        </div>
      } @placeholder {
        <div class="grid grid-cols-4 grid-rows-1 gap-4">
          <div class="col-span-1">
            <div class="h-48 animate-pulse rounded-md bg-slate-100"></div>
          </div>
          <div class="col-span-1">
            <div class="h-48 animate-pulse rounded-md bg-slate-100"></div>
          </div>
        </div>
      }
    </div>
  </div>
  <button
    class="transparent h-full w-full cursor-default"
    (click)="onCloseMenu()"></button>
</div>
